{% load static %}
<div class="row align-items-center" style="padding-top: 30px;">
  <div class="col-sm-5">
    <div align="center">
      {% if profile.profile_pic %}
      <img
        src="{% url 'profile.profile_pic.url' %}"
        width="250px"
        height="250px"
        style="border: 2px solid black; border-radius: 50%;"
      />
      {% else %}
      <img
        src="{% static 'images/profile_pic.jpg' %}"
        width="250px"
        height="250px"
        style="border: 2px solid black; border-radius: 50%;"
      />
      {% endif %}
    </div>
    <div align="center" style="padding-top: 5px;">
      <p><i class="fa fa-envelope"></i>&nbsp;{{ user.email }}</p>
    </div>
    <div align="center" style="padding-bottom: 5px;">
      <button class="btn btn-primary btn-block edit-profile-pic">
        Change Profile Pic
      </button>
      <button class="btn btn-primary btn-block edit-bio">
        Edit Bio
      </button>
    </div>
  </div>
  <div class="col-sm">
    <div class="display-bio">
      <div
        style="
          border: 2px solid black;
          padding: 10px 10px 0px 10px;
          margin-bottom: 10px;
        "
      >
        <p>
          {{ profile.bio }}
        </p>
      </div>
    </div>
  </div>
</div>
