{% extends "djangoapp/base.html" %} {% block title %}
<title>dashboard | CookWithMe</title>
{% endblock %} {% block extra_script %}
<script>
  $(document).ready(function () {
    $(".dashboard-body").load("{% url 'djangoapp:dashboard_profile' %}");
  });

  $(document).ready(function () {
    $(".dashboard-addblog-button").click(function (event) {
      $(".dashboard-button").removeClass("active");
      $(".dashboard-addblog-button").addClass("active");
      $(".dashboard-body").load("{% url 'blog:add_blog' %}");
    });
  });
  $(document).ready(function () {
    $(".dashboard-feedbacks-button").click(function (event) {
      $(".dashboard-button").removeClass("active");
      $(".dashboard-feedbacks-button").addClass("active");
      $(".dashboard-body").load("{% url 'djangoapp:dashboard_feedback' %}");
    });
  });
  $(document).ready(function () {
    $(".dashboard-profile-button").click(function (event) {
      $(".dashboard-button").removeClass("active");
      $(".dashboard-profile-button").addClass("active");
      $(".dashboard-body").load("{% url 'djangoapp:dashboard_profile' %}");
    });
  });
  $(document).ready(function () {
    $(".dashboard-users-button").click(function (event) {
      var data = $(this).data("data");
      $(".dashboard-button").removeClass("active");
      $(".dashboard-users-button").addClass("active");
    });
  });
  $(document).ready(function () {
    $(".edit-bio").click(function (event) {
      console.log("hi");
      $(".display-bio").load("{% url 'djangoapp:edit_bio' %}");
    });
  });
</script>
{% endblock %} {% block body_block %}
<div class="dashboard-container" style="margin: 0px 10px;">
  <div
    class="row align-items-start"
    style="background-color: white; padding: 30px 0px;"
  >
    <div
      class="col-sm-3"
      style="
        border-radius: 10px;
        margin: 10px 20px;
        box-shadow: 0 4px 8px 0 rgba(100, 100, 100, 0.2),
          0 6px 20px 0 rgba(110, 103, 103, 0.19);
      "
    >
      <div class="side-navigations">
        <ul class="list-group list-group-flush" style="width: 100%;">
          <button
            type="button"
            class="list-group-item list-group-item-action dashboard-profile-button dashboard-button active"
            style="text-align: center;"
            data="profile"
          >
            Profile
          </button>
          <button
            type="button"
            class="list-group-item list-group-item-action dashboard-addblog-button dashboard-button"
            style="text-align: center;"
            data="add_blog"
          >
            Add Blog
          </button>
          <button
            type="button"
            class="list-group-item list-group-item-action dashboard-feedbacks-button dashboard-button"
            style="text-align: center;"
            data="feedbacks"
          >
            Feedbacks
          </button>
          <button
            type="button"
            class="list-group-item list-group-item-action dashboard-users-button dashboard-button"
            style="text-align: center;"
            data="users"
          >
            Users
          </button>
        </ul>
      </div>
    </div>

    <div
      class="col-sm-8"
      style="
        border-radius: 10px;
        margin: 10px 20px;
        box-shadow: 0 4px 8px 0 rgba(100, 100, 100, 0.2),
          0 6px 20px 0 rgba(110, 103, 103, 0.19);
      "
    >
      <div class="dashboard-body"></div>
    </div>
  </div>
</div>
{% endblock %}
