{% extends "djangoapp/base.html" %} {% load static %} 

{% block title %}
<title>CookWithMe</title>
{%endblock %}

{% block body_block %}

<div class="container" style="padding-top: 20px;">
  <div class="welcome_poster">
    <div
      id="carouselExampleSlidesOnly"
      class="carousel slide"
      data-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="{% static 'images/rsz_messy-pizza-on-a-black-table.jpg' %}"
            class="d-block w-100 img-fluid"
            alt="Home-page-image"
          />
          <div
            class="carousel-caption"
            style="top: 15%; color: #8e1f1f;"
            align="center"
          >
            <p style="font-size: 7vw; font-weight: bold;">
              Welcome to My Blog!!
            </p>
            <div style="color: white; font-size: 4vw;">
              {% if user.is_authenticated %}
              <p>
                Nice to connect with you. Let's cook!!!
              </p>
              {% else %}
              <p>
                Please
                <a href="{% url 'djangoapp:user_login' %}"
                  ><b style="color: #8e1f1f; font-size: 5vw;">Login</b></a
                >
                to stay updated.
              </p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br />

<div
  class="about-me"
  style="color: white;"
>
  <div align="center">
    <img
      src="{% static 'images/profile_pic.jpg' %}"
      height="150px"
      width="150px"
      style="border: 2px solid white; border-radius: 50%;"
      alt="Profile-pic"
    />
    <h2 style="font-size: 40px;">Who am I?</h2>
  </div>
  <div style="padding: 10px 40px; text-align: center; font-size: 25px;">
    <p>
      {% lorem 2 p %}
    </p>
  </div>
</div>

<div class="latest_blogs">
  <p
    align="center"
    style="
      text-decoration: underline;
      font-size: 40px;
      color: white;
      padding-top: 40px;
    "
  >
    My Receipes
  </p>
  <div class="blog_carousel">
    <div style="margin: 10px 20px;">
      <div
        id="carouselExampleCaptions"
        class="carousel slide"
        data-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card-deck" style="padding: 20px 20px;">
              {% for blog in blogs_set1 %}
              <div class="card">
                <img
                  class="card-img-top"
                  src="{{ blog.image.url }}"
                  height="200px"
                  alt="Card image cap"
                />
                <div class="card-body" style="text-align: center;">
                  <a href="{% url 'blog:get_blog' blog_id=blog.id %}"
                    ><h5
                      class="card-title"
                      style="color: #8e1f1f; font-size: 30px;"
                    >
                      {{ blog.headline }}
                    </h5></a
                  >
                  <p class="card-text" style="font-size: 20px;">
                    {{ blog.summary }}
                  </p>
                  <p class="card-text">
                    <small class="text-muted"
                      >uploaded on {{ blog.created_at }}</small
                    >
                  </p>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="carousel-item">
            <div class="card-deck" style="padding: 20px 20px;">
              {% for blog in blogs_set2 %}
              <div class="card">
                <img
                  class="card-img-top"
                  src="{{ blog.image.url }}"
                  height="200px"
                  alt="Card image cap"
                />
                <div class="card-body" style="text-align: center;">
                  <a href="{% url 'blog:get_blog' blog_id=blog.id %}"
                    ><h5
                      class="card-title"
                      style="color: #8e1f1f; font-size: 30px;"
                    >
                      {{ blog.headline }}
                    </h5></a
                  >
                  <p class="card-text" style="font-size: 20px;">
                    {{ blog.summary }}
                  </p>
                  <p class="card-text">
                    <small class="text-muted"
                      >Uploaded on {{ blog.created_at }}</small
                    >
                  </p>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleCaptions"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleCaptions"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
